/*---------- Basic elements ----------*/

@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

body {
  font-family: "Unbounded", sans-serif;
  background: #f3f3f3;
}

.primary-color {
  color: #5200ff;
}

.btn-light {
  height: 45px;
  padding: 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px #5200ff26;
  border-radius: 8px;
  color: #5200ff;
  border: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
}

/*---------- Main ----------*/
/*---------- Main Top ----------*/
.main-top {
  margin-top: 52px;
  padding: 55px 120px 140px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  width: 100%;
  height: 5vh;
}

.main-top p {
  font-size: 16px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
}

/*---------- Main Content ----------*/

.login-main {
  display: flex;
  align-items: center;
  height: 100vh;
}

.login-main form {
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-main form .input-container {
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.login-main form .input-container label {
  color: #9a9a9a;
  font-size: 14px;
}

.login-main form .input-container input {
  width: 100%;
  border: none;
  outline: none;
}

.login-main p {
  color: #9a9a9a;
  margin-bottom: 50px;
  text-align: center;
}

.login-main p a {
  text-decoration: none;
  color: #000;
}

/***************** REGISTER PAGE ******************/
.register-main {
  display: flex;
  align-items: center;
  height: 100vh;
}

.register-main form {
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.register-main form .input-container {
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.register-main form .input-container label {
  color: #9a9a9a;
  font-size: 14px;
}

.register-main form .input-container input {
  width: 100%;
  border: none;
  outline: none;
}

.register-main p {
  color: #9a9a9a;
}

.register-main p a {
  text-decoration: none;
  color: #000;
}

/******************* OTP VERİFY PAGE ************************/
.otp-main {
  display: flex;
  height: 100vh;
}

.otp-content {
  padding: 65px 25px;
}

.otp-content .otp-inputs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

.otp-content form input {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px #5100ff1a;
}

.otp-error-bottom {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #c93333, #fff) border-box;
  border: 1px solid transparent;
}

.otp-error-top {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to top, #c93333, #fff) border-box;
  border: 1px solid transparent;
}

.otp-without-error {
  border: none;
}

.otp-content .otp-submit {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
}

/*---------- Product Detail ----------*/

.product-detail {
  display: flex;
  height: 100vh;
}

/*---------- Product Image ----------*/

.product-image {
  padding: 25px 15px 10px;
}
.product-image img {
  width: 100%;
}

/*---------- Product Signs ----------*/
.product-signs{
  display: flex;
}
.sign-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  background: #fff;
  border-radius: 32px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.product-stars{
  display: inline-flex;
}

.sign-element img {
  width: 10px;
  height: 10px;
}

.image-element {
  padding: 5px;
}

.detail-sings {
  font-size: 10px;
  font-weight: 300;
  color: #7b7b7b;
}

.product-info p {
  margin-top: 0;
}

.product-head {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: relative;
}

.product-head h2 {
  font-size: 20px;
}

.product-head span {
  margin: 0 5px;
}

.under {
  color: #929292;
}

.blue {
  width: 68px;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
  padding: 3px;
  text-align: center;
  border-radius: 4px;
  background-color: #5200ff;
  color: #fff;
}

.blue img {
  width: 12px;
  height: 15px;
  position: absolute;
  top: 37%;
  left: 84%;
  margin-left: 8px;
}

/*---------- Product Form Input ----------*/

.product-detail form {
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-detail form .input-container {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 15px 0;
  border-radius: 15px;
  background-color: #fff;
}

.product-detail form .input-container label {
  font-size: 14px;
  color: #9a9a9a;
}

.product-detail form .input-container input {
  width: 100%;
  border: none;
  outline: none;
}
