@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

* {
  font-family: "Unbounded", sans-serif;
}

body {
  background: #f3f3f3;
}

.primary-color {
  color: #5200ff;
}

.btn-success {
  border-radius: 15px;
  background: #04b700;
  padding: 15px 35px;
  border: none;
  color: #fff;
}

.btn-light {
  height: 45px;
  padding: 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px #5200ff26;
  border-radius: 8px;
  color: #5200ff;
  border: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
}

/***************** INDEX ****************/
.main-top {
  margin-top: 52px;
  padding: 55px 120px 140px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  width: 100%;
  height: 5vh;
}

.main-top p {
  font-size: 16px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
}

.login-main {
  display: flex;
  align-items: center;
  height: 100vh;
}

.login-main form {
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-main form .input-container {
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.login-main form .input-container label {
  color: #9a9a9a;
  font-size: 14px;
}

.login-main form .input-container input {
  width: 100%;
  border: none;
  outline: none;
}

.login-main p {
  color: #9a9a9a;
  margin-bottom: 50px;
  text-align: center;
}

.login-main p a {
  text-decoration: none;
  color: #000;
}

/*************** Register Page ****************/

.register-main {
  display: flex;
  align-items: center;
  height: 100vh;
}

.register-main form {
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.register-main form .input-container {
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.register-main form .input-container label {
  color: #9a9a9a;
  font-size: 14px;
}

.register-main form .input-container input {
  width: 100%;
  border: none;
  outline: none;
}

.register-main p {
  color: #9a9a9a;
}

.register-main p a {
  text-decoration: none;
  color: #000;
}

/*************** OTP Verify Page *****************/

.otp-main {
  display: flex;
  height: 100vh;
}

.otp-content {
  padding: 65px 25px;
}

.otp-content .otp-inputs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

.otp-content form input {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px #5100ff1a;
}

.otp-error-bottom {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #c93333, #fff) border-box;
  border: 1px solid transparent;
}

.otp-error-top {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to top, #c93333, #fff) border-box;
  border: 1px solid transparent;
}

.otp-without-error {
  border: none;
}

.otp-content .otp-submit {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
}

/******************* Product Page *******************/

.swiper {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-detail {
  max-height: 100vh;
  padding: 10px;
  margin-bottom: 180px;
}

.product-detail .product-signs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-detail .sign-element {
  display: flex;
  gap: 8px;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  height: 30px;
  padding: 0 15px;
}

.product-detail .sign-element img {
  width: 10px;
  height: 10px;
}

.product-detail .sign-element span {
  font-size: 3.5vw;
  font-weight: 300;
  color: #7b7b7b;
}

.product-detail .sign-element .product-stars {
  display: inline-flex;
}

.product-detail .product-info .product-head {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  position: relative;
}

.product-detail .product-info .product-head .product-head h2 {
  font-size: 20px;
}

.product-detail .product-info .product-head .price {
  display: flex;
  gap: 5px;
  font-size: 14px;
}

.product-detail .product-info .product-head .price .old-price {
  color: #4b4b4b;
}

.product-detail .product-info .discount {
  width: 60px;
  height: 18px;
  font-size: 15px;
  font-weight: 500;
  padding: 3px 4px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5200ff;
  color: #fff;
}

.product-detail .product-info .discount img {
  width: 12px;
  height: 80%;
}

.product-detail p {
  text-align: justify;
}

.product-detail form {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-detail form .input-container {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: #fff;
}

.product-detail form .print-img {
  width: 100%;
  border: 2px dotted #4b4b4b;
  border-radius: 15px;
  height: fit-content;
  outline: none;
  background-color: #fff;
  padding: 12px;
}

.product-detail form .print-img label {
  color: #b0b0b0;
  font-size: 14px;
}

.product-detail form .input-container textarea {
  border-radius: 15px;
  width: 90%;
  border: none;
  outline: none;
  padding: 12px;
  color: #000;
}

.product-detail form .input-container textarea::placeholder {
  color: #b0b0b0;
  font-size: 14px;
}

.product-detail form .input-container select {
  width: 100%;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 12px;
  color: #b0b0b0;
  font-size: 14px;
}

.product-detail .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.product-detail .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 75%;
  position: relative;
}

.product-detail .modal-content img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: -15px;
  right: -15px;
}

.product-detail .modal-content h2 {
  color: #FF5C00;
}

.product-detail .modal-content h2 span {
  font-weight: 300;
}


.product-detail .modal-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background: #04B700;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-detail .success-modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.product-detail .success-modal-container .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 75%;
  position: relative;
}

.product-detail .success-modal-container .modal-content img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: -20px;
  right: -20px;
}

.product-detail .success-modal-container .modal-content h2 {
  color: #04B700;

}

.product-detail .success-modal-container .modal-content h2 span {
  font-weight: 300;
}


.product-detail .success-modal-container .modal-content .modal-button {
  display: block;
  width: 93%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background: #04B700;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/*---------- Menu ----------*/

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 90% !important;
  display: flex;
  justify-content: space-between !important;
  text-align: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 -1px 6px rgba(176, 176, 176, 0.726);
  border-radius: 6px 6px 0 0;
  z-index: 9999;
}

.menu .menu-item {
  width: 20vw;
  text-align: center;
}

.menu .menu-item p {
  margin-top: -2px;
}

.menu img {
  width: 24px;
  height: 24px;
}

.menu .menu-name {
  font-size: 12px;
}


.home-main{
  padding: 15px 10px;
}

.home-main .fixed-section{
  width: 100%;
  top: 15px;
}

.home-main .header{
  display: flex;
  justify-content: space-between;
}

.home-main .header a{
  text-decoration: none;
}

.home-main .header .logo img,
.home-main .header .icons img{
  height: 45px;
}

.home-main .search {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  margin: 15px 0;
}

.home-main .search img{
  height: 40px;
}

.home-main .search input{
  border: none;
  outline: none;
  height: 50px;
  width: 80%;
}

.home-main .ads{
  width: 100%;
}

.home-main .ads img{
  width: 100%;
}


.home-main .discovery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 12px;
}

.home-main .discovery .product-card{
  width: 48%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 7px rgba(128, 128, 128, 0.455);
}

.home-main .discovery .product-card .product-image{
  position: relative;
  
}

.home-main .discovery .product-card img{
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.home-main .discovery .product-card .fav{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-main .discovery .product-card .fav img{
  width: 95%;
}

.home-main .discovery .product-card .product-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}

.home-main .discovery .product-card .product-title h5{
  font-size: 3vw;
}

.home-main .discovery .product-card .product-title .stars{
  display: inline-flex;
  justify-content: space-around;
  width: 40%;
  margin-right: 10px;
}

.home-main .discovery .product-card .product-title .stars img{
  width: 10px;
}

.home-main .discovery .product-card .product-desc{
  font-size: 10px;
  color: gray;
  padding: 0 7px;
}

.home-main .discovery .product-card .product-price{
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 10px;
  padding: 0 7px;
  gap: 7px;
}

.home-main .discovery .product-card .product-price .old-price{
  color: #7c7c7c;
  text-decoration: line-through;
}

.home-main .discovery .product-card .product-price .percent{
  padding: 3px 4px;
  background-color: #5200ff;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3px;
  border-radius: 5px;
}

.home-main .discovery .product-card .order-btn{
  background-color: #04B700;
  color: #fff;
  font-size: 10px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 15px 15px;
}